---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono');

$base-font-family: 'Noto Sans KR', "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        1000px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

body {
    font: 18px 'Noto Sans KR', "Helvetica Neue", Helvetica, Arial, sans-serif;
    word-break: break-all;
    line-height: 160%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

code, pre {
    font: 14px 'Overpass Mono', monospace;
    font-weight: normal;
}

p .highlighter-rouge {
  padding: 2px;
  padding-top: 5px;
  background: #3A3C42;
  color: #f8f8f2;
}

.post-link {
    font-size: 22px;
}

.post-header{
    font-size: 22px;
    line-height: 1.2;
    background: #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    padding: 15px 0px;
}

.lineno {
    padding: 0px;
}

.highlight table td {
    padding: 0px;
}

.wrapper {
    width: 1000px;
}

footer {
  width: 1000px;
}

header p {
    width: 100%;
    font-size: 16px;
}

@media print, screen and (max-width: 740px) {
  body {
    padding:0;
  }

  header p {
    width: 370px;
  }

  figure pre {
    margin: 0px -50px 20px;
  }

  .wrapper {
    border-radius: 0;
    box-shadow: none;
    width:100%;
  }

  footer {
    width: 370px;
    font-size: 14px;
  }

}
