---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <a itemprop="mainEntityOfPage" href="{{ page.url }}"><h1 class="post-title" itemprop="name headline">{{ page.title }}</h1></a>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished dateModified">{{ page.date | date: "%Y-%m-%d" }}</time>
      {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
      <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization" style="display: none;">
        <span itemprop="name">Github pages</span>
        <span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
          <span itemprop="url">https://avatars0.githubusercontent.com/u/5876259?v=3&s=460</span>
          <span itemprop="width">460px</span>
          <span itemprop="height">460px</span>
        </span>
      </span>
      <span itemprop="image" itemscope itemtype="http://schema.org/ImageObject" style="display: none;">
        <span itemprop="url">https://avatars0.githubusercontent.com/u/5876259?v=3&s=460</span>
        <span itemprop="width">460px</span>
        <span itemprop="height">460px</span>
      </span>
    </p>
  </header>
  <input type="hidden" id="log_post_title" value="{{ page.title }}"/>
  
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div id="disqus_thread"></div>
  <script>
  /**
  * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
  */
  /* var disqus_config = function () { this.page.url = PAGE_URL;
  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = PAGE_IDENTIFIER;
  // Replace PAGE_IDENTIFIER with your page's unique identifier variable };
  */
  (function() {
  // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = '//dbe-dev-ops.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s); })();
  </script>
  <noscript>
    Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
  </noscript>

</article>
